<footer>
  <div class="container">
  <div class="col-md-6">
    <ul class="nav navbar-nav">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Bulk Order</a></li>
      <li><a href="#">Warranty and Exchange</a></li>
    </ul>
  </div>
  <div class="col-md-6">
  </div>
  </div>

<p>&copy; 2016 Ciphr.ph, Inc.</p>
</footer>