<nav class="navbar navbar-default navbar-container" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'application' class="navbar-brand logo link link--surinami"}}<span data-letters-l="Ciphr" data-letters-r="Gaming">Ciphr Gaming</span>{{/link-to}}
  </div>

  <div class="navbar-collapse collapse">
    <div class="menu1-container">
      <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li>{{#link-to 'application' class="game-link"}}<i class="fa fa-gamepad"></i>{{/link-to}}</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="right-inner-addon ">
              <i class="fa fa-search"></i>
              <input type="search" class="form-control" placeholder="Search" />
          </div>
        </li>
      </ul>
      </div>
    </div>
    <div class="menu-container">
      <div class="container">
        <ul class="nav navbar-nav navbar-left navtop">
          <li><a class="link-3" href="#">PC</a></li>
          <li><a class="link-3" href="#">XBOX ONE</a></li>
          <li><a class="link-3" href="#">XBOX 360</a></li>
          <li><a class="link-3" href="#">PS3</a></li>
          <li><a class="link-3" href="#">PS4</a></li>
          <li><a class="link-3" href="#">ITUNES</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="navbar2">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {{#if session.isAuthenticated}}
            <li><a href="#">Account</a></li>
            <li><a href='javascript:void(0);' {{action 'invalidateSession'}}>Log Out</a></li>
          {{else}}
            <li><a href="#">Sign Up</a></li>
            <li>{{#link-to 'login'}}Log In{{/link-to}}</li>
          {{/if}}
          <li><a href="#">Checkout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
