@import "bootstrap";
@import "font-awesome";
@import "global/base";
@import "global/fonts";
@import "global/buttons";
@import "components/carousel";
@import "components/flash_messages";
@import "components/footer";
@import "components/product_listing";
@import "components/top_navigation";

#home {
  img {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 500px;
  }
  .carousel-indicators {
    visibility: hidden;
  }
  .carousel-control {
    &.left, &.right {
      background-image: none;
      bottom: 0;
      top: 1px;
    }
    .fa-long-arrow-right, .fa-long-arrow-left {
      color: #ccc;
      border: 1px solid #ccc;
      text-shadow: none;
      padding: 3px 5px;
      position: absolute;
      bottom: 0px;
      font-size: 30px;
    }
  }
  .carousel-controls-container {
    position: absolute;
    bottom: 20px;
    right: 150px;
    width: 55px;
  }
}
