.carousel {
  .text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    h1 {
      font-size: 6em;
      font-weight: 700;
      margin: 0;
      padding: 0;
      float: right;
      color: #ff1a00;
      margin-right: 100px;
      text-shadow: 2px 1px 1px #111;
      position: relative;
      text-transform: uppercase;
      font-family: 'Pirulen';
    }
  }

  .carousel-control {
    width: 4%;
    &.left, &.right {
      margin-left: 15px;
      background-image: none;
    }
  }

  @media (max-width: 767px) {
    .carousel-inner {
      .active.left {
        left: -100%;
      }
      .next {
        left: 100%;
      }
      .prev {
        left: -100%;
      }
    }
    .active > div {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }

  @media (min-width: 767px) and (max-width: 992px) {
    .carousel-inner {
      .active.left {
        left: -50%;
      }
      .next {
        left: 50%;
      }
      .prev {
        left: -50%;
      }
    }
    .active > div {
      display: none;
      &:first-child {
        display: block;
        + div {
          display: block;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .carousel-inner {
      .active.left {
        left: -25%;
      }
      .next {
        left: 25%;
      }
      .prev {
        left: -25%;
      }
    }
  }
}
