.cart-container {
  .top-btn-wrap {
    padding: 0px;
    margin-top: 25px;
  }
  i.fa-check {
    font-size: 25px;
    margin-right: 15px;
  }
}

.cart-shop-wrap {
  margin-top: 40px;
  table {
    thead {
      border: 0px;
      text-transform: uppercase;
      background: #111;
      color: #fff;
    }
    th {
      text-align: center;
      vertical-align: middle;
    }
    tr td {
      vertical-align: middle;
      a {
        color: #111;
        vertical-align: middle;
        text-align: center;
        &:hover {
          text-decoration: none;
          color: #7ca33b;
        }
      }
      input {
        border-radius: 0px;
        -moz-border-radius: 0px;
        &.qty-wrap {
          width: 80px;
          display: table-cell;
          text-align: center;
        }
      }
    }
    td.row1 img {
      width: 100px;
    }
  }
}

.cart-total {
  margin-top: 50px;
  margin-bottom: 50px;
  p {
    &.p1, &.p2 {
      width: 50%;
      float: left;
    }
  }
  &.grand p {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

a.payments img {
  margin: 20px 0px 0px 15px;
}
