footer {
  background: #111;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
  ul {
    li a {
      color: #fff;
      text-transform: uppercase;
      font-family: 'texgyreadventor';
      font-size: 10px;
    }
    &.nav li a:hover {
      background: #111;
      color: #014742;
      -webkit-transition: background 0.2s, color 0.2s;
      -moz-transition: background 0.2s, color 0.2s;
      transition: background 0.2s, color 0.2s;
    }
  }
  p {
    font-size: 8px;
  }
}
