.product-container {
  h4.price {
    color: #7ca33b;
  }
  form {
    margin-top: 80px;
  }
  input.qty {
    width: 50px;
    text-align: center;
    border-radius: 0px;
    -moz-border-radius: 0px;
  }
  button.addtocart {
    width: 150px;
  }
}

span.discount {
  text-decoration: line-through;
  color: #b6b6b6;
}

img.thumbnail {
  margin-top: 10px;
}

.product-container .platform p {
  &.p1, &.p2 {
    width: 50%;
    float: left;
  }
}

.plat-container a {
  color: #7ca33b;
  &:hover {
    text-decoration: none;
  }
}

.product-container {
  .tab-content {
    border: 1px solid #959595;
    padding: 10px;
  }
  ul.nav-tabs li {
    &.active a {
      background: #7ca33b;
      color: #fff;
      border-radius: 0px;
      -moz-border-radius: 0px;
    }
    a {
      color: #fff;
      background: #959595;
      border-radius: 0px;
      -moz-border-radius: 0px;
      border-color: #959595;
    }
  }
}
