.listings-container h4 {
  &.title {
    font-size: 14px;
    text-align: left;
  }
  font-size: 14px;
}

hr.border {
  background: url('/assets/images/border.png');
  background-repeat: repeat-x;
  width: 100%;
  height: 5px;
}

.listings-container {
  h4, p {
    text-align: center;
  }
  img {
    width: 100%;
  }
}
