nav.navbar-container a.logo {
  font-family: 'Hundered King';
  font-size: 70px;
  font-weight: bold;
  color: #ddd;
}

.navbar {
  border-color: #000;
  border-radius: 0px;
  -moz-border-radius: 0px;
  border: 0px;
}

.container {
  &.navbar2 {
    height: 40px;
  }
  .navbar li a {
    color: #fff;
    transition: 0.4s;
    font-size: 10px;
    &:hover {
      color: #ccc;
    }
  }
}

nav.navbar-container {
  a {
    &.logo:hover {
      color: #fff;
    }
    &.game-link {
      color: #555;
      font-size: 20px;
      margin-left: 10px;
    }
  }
  background: #111;
  color: #fff;
  border-bottom: 0px;
  min-height: 100px;
  margin-bottom: 0px;
  border-color: #000;
  .navbar-right {
    margin-right: 0px;
  }
  .menu1-container {
    margin: 0 auto;
    float: none !important;
    padding-left: 15px;
  }
  .menu-container {
    background: transparent;
    float: left;
    width: 100%;
    ul {
      margin: 0 auto;
      float: none !important;
      width: 60%;
    }
    li {
      a {
        color: #fff;
        transition: 0.4s;
        &:hover {
          color: #ccc;
        }
      }
      padding: 0px 20px;
    }
  }
}

.navbar2 nav.navbar {
  background: transparent;
  border-radius: 0px;
  -moz-border-radius: 0px;
  padding: 0px;
  border: 0px;
  margin-bottom: 0px;
}

nav.navbar-container {
  background: url('/assets/images/menu-banner2.png');
  background-size: 100% 100px, cover;
}

.navbar2 {
  background: #014742;
}

.right-inner-addon {
  position: relative;
  top: 8px;
  input {
    padding-right: 30px;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    background: transparent;
    font-size: 12px;
    color: #fff;
  }
  i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color: #555;
  }
}

@media (min-width: 768px) {
  nav.navbar-container {
    a.logo {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      text-align: center;
      margin: auto;
    }
    .navbar-collapse {
      padding: 0px;
      border-color: #000;
      border-radius: 0px;
      -moz-border-radius: 0px;
    }
  }
}
