body {
  font-family: 'texgyreadventor';
  color: #111111;
  background: #dadada;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'texgyreadventor';
}

hr.space {
  border-color: transparent;
}

.link--surinami {
  span {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
  }
  &:hover span {
    color: #014742;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .hexagon1- {
    margin: 0 0 60px -68px;
    width: 300px;
  }
}
