button {
  &.cont-shop, &.addtocart {
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
    width: 100%;
    height: 40px;
    color: #fff;
    background: #014742;
    border: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    text-transform: uppercase;
  }
  &.cont-shop:hover, &.addtocart:hover {
    background: rgba(17, 17, 17, 1);
    color: #fff;
  }
  &.cont-shop {
    &:hover {
      color: #fff;
    }
    &:before {
      -webkit-animation: spinAround 2s linear infinite;
      -moz-animation: spinAround 2s linear infinite;
      animation: spinAround 2s linear infinite;
    }
  }
  &.addtocart:before {
    -webkit-animation: spinAround 2s linear infinite;
    -moz-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite;
  }
}
