@font-face {
  font-family: 'Hundered King';
  src: url('/assets/fonts/The-Hundred-king.ttf');
}


@font-face {
  font-family: 'texgyreadventor';
  src: url('/assets/fonts/texgyreadventor-regular_0.otf');
}


@font-face {
  font-family: 'Pirulen';
  src: url('/assets/fonts/pirulen-rg.ttf');
}
