<div id="home" class="home">
  <div id="carousel-home" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src='/assets/images/banner4.png' alt="...">
          <div class="carousel-caption text-vcenter">
            <h1>Order Now!</h1>
          </div>
        </div>
        <div class="item">
          <img src='/assets/images/banner5.png' alt="...">
          <div class="carousel-caption text-vcenter">
            <h1>Order Now!</h1>
          </div>
        </div>
        <div class="item">
          <img src='/assets/images/banner3.png' alt="...">
          <div class="carousel-caption text-vcenter">
            <h1>Order Now!</h1>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <div class="carousel-controls-container">
        <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
</div>
<hr class="space">
<div class="container listings-container">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h4 class="title">Featured Games</h4>
      <hr class="border">
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img1.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Plants vs. Zombies</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img2.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Assassin’s Creed</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img3.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Call of Duty</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img4.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Grand Theft Auto</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img5.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">NBA 2K 16</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img6.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Minecraft</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  <hr class="space">
  <div class="row">
    <div class="col-md-12">
      <h4 class="title">Latest Downloads</h4>
      <hr class="border">
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img2.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Assassin’s Creed</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img3.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Call of Duty</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img4.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Grand Theft Auto</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img1.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Plants vs. Zombies</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img6.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Minecraft</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img5.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">NBA 2K 16</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
  <hr class="space">
  <div class="row">
    <div class="col-md-12">
      <h4 class="title">Playstation Games</h4>
      <hr class="border">
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img2.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Assassin’s Creed</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img1.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Plants vs. Zombies</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img3.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Call of Duty</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img6.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Minecraft</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img4.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Grand Theft Auto</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-4">
      <div class="card">
        <img class="card-img-top img-responsive" src="/assets/images/g-img5.png" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">NBA 2K 16</h4>
          <p class="card-text">₱2,395.00</p>
          <button type="submit" class="btn btn-primary addtocart">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->
